<ng-container *ngIf="customer$ | async as customer">
  <ng-container *ngIf="environment$ | async as environment">
    <ng-container *ngIf="product$ | async as product">
      <h1>{{ customer.name }} - {{ environment.name }} - {{ product.name }}</h1>

      <ng-container *ngIf="useCases$ | async as useCases">
        <ng-container *ngIf="tests$ | async as tests">
          <div class="test-container">
            <ng-container *ngFor="let test of tests; trackBy: trackTest">
              <div class="test" *ngIf="useCases[test.useCaseId] as useCase">
                <app-test-result-icon [result]="test.result" (click)="toggleResult(test)"></app-test-result-icon>

                <span class="test-name">{{ useCase.name }}</span>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
