<mat-card>
  <mat-card-title data-cy="product-card-title">
    {{ product.name }}
  </mat-card-title>

  <mat-card-content>
    <div class="version-list" data-cy="version-list">
      <div *ngFor="let version of product.versions">
        {{ version.version }}
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="warn" (click)="deleteProduct()" [disabled]="deleting | async" data-cy="delete-product-button">
      {{ (deleting | async) ? 'Deleting' : 'Delete' }}
    </button>

    <a mat-button [routerLink]="[product.id, 'edit']" data-cy="edit-product-button"> Edit </a>
  </mat-card-actions>
</mat-card>
