:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  padding: 1em;

  grid-gap: 1em;

  grid-template-areas: 'title edit-customer';
}

.customer-title {
  grid-area: title;
}

.edit-customer {
  grid-area: edit-customer;

  .edit-link {
    float: right;
  }
}

.spinner-container{
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  align-self: center;
  justify-self: center;
}

.product-statistics-container {
  display: grid;
  grid-gap: 1em;
}

.no-environments {
  grid-column: 1 / -1;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.15);
  border-radius: 3px;
  font-size: 1.5em;

  a {
    margin-top: 1.5em;
  }
}
