<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Customers</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let customer of customers$ | async" data-cy="customer-link" [routerLink]="['customer', customer.id]">
        <span  class="filler">
          {{ customer.name }}
        </span>

        <button mat-icon-button [matMenuTriggerFor]="moreMenu" (click)="stopPropagation($event)" data-cy="customer-more-button">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #moreMenu="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item (click)="startDelete(customer)" data-cy="customer-more-delete-button">Delete</button>
          </ng-template>
        </mat-menu>
      </a>
    </mat-nav-list>
    <mat-action-list>
      <button mat-list-item (click)="addNewCustomer()" data-cy="add-new-customer">Add new customer</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary" role="heading">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="home-link" [routerLink]="['/']">Digizuite Customer QA</a>

      <span class="filler"></span>

      <ng-container *ngIf="user$ | async as user; else showUnAuthorized">
        <a [routerLink]="['products']" mat-button data-cy="product-settings-link">Products</a>

        <span>Hi {{ user.displayName }}</span>

        <button mat-button (click)="logout()" class="logout-button">Log out</button>
      </ng-container>

      <ng-template #showUnAuthorized>
        <button mat-button (click)="login()">Login</button>
      </ng-template>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
