@import '~@angular/material/theming';

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.home-link {
  color: $light-primary-text;
  text-decoration: none;
}

.filler {
  flex: 1;
}

.sidenav-content {
  display: grid;
  grid-template-rows: auto 0 1fr;
  grid-template-columns: 1fr;

  & > *:last-child {
    grid-row: 3;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.logout-button {
  margin-left: 1em;
}

.initialization-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  pointer-events: none;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
