@import '~@angular/material/theming';

@include mat-core();

$digi-app-primary: mat-palette($mat-teal);
$digi-app-accent: mat-palette($mat-green, A200, A100, A400);

$digi-app-warn: mat-palette($mat-red);

$digi-app-theme: mat-light-theme((
  color: (
    primary: $digi-app-primary,
    accent: $digi-app-accent,
    warn: $digi-app-warn
  )
));

@include angular-material-theme($digi-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
