:host {
  padding: 1em;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'title title' 'product-editor use-case-editor';
}

.product-title {
  grid-area: title;
}

.product-editor {
  grid-area: product-editor;
}

.use-case-editor {
  grid-area: use-case-editor;
}
