:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  padding: 1em;
}

.spinner-container {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  align-self: center;
  justify-self: center;
}

.edit-customer-form {
  display: grid;

  grid-template-rows: auto auto auto;
}

